body{
    width: calc(var(--vw) * 100);
    background: black;
    background-image: url('./svgs/background.svg');
    background-repeat: repeat;
    margin: 0;
}
div{
    height: fit-content;
    position: relative;
}
input[type=text]{
    border: none;
    padding: 0;
}