.search{
    width: min(550px, 70%);
    margin: {
        right: auto;
        left: auto;
    }
    input{
        width: 100%;
        height: 50px;
        border-radius: 50px;
        box-sizing: border-box;
        padding-left: 25px;
        font-size: 20px;
        &:focus{
            outline: 0;
        }
    }
}