body {
  width: calc(var(--vw) * 100);
  background: black;
  background-image: url("./svgs/background.svg");
  background-repeat: repeat;
  margin: 0;
}

div {
  height: fit-content;
  position: relative;
}

input[type=text] {
  border: none;
  padding: 0;
}

@font-face {
  font-family: main;
  src: url("./fonts/CaslonAntique.ttf");
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-direction: column;
  font-family: main;
}
main .logo {
  width: min(389px, 80%);
  margin: 30px 0 10px 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .logo:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
main .logo img {
  width: 100%;
  z-index: 1;
}
main .search input {
  font-family: main;
  font-size: 25px;
  margin-bottom: 1.2vh;
  background: transparent;
  border: 1px solid white;
  color: white;
}
main .search input::placeholder {
  color: darkgray;
}
main .search input:focus {
  animation: borderRainbow 10s linear infinite alternate;
}
@keyframes borderRainbow {
  0% {
    border-color: #0ff;
  }
  33% {
    border-color: #4000ff;
  }
  66% {
    border-color: #f0f;
  }
  100% {
    border-color: #f02;
  }
}
main .shortcuts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 35px 0 0 0;
}
main .shortcuts .col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: calc(var(--vh) * 6);
  padding-top: calc(var(--vh) * 6);
  flex: 1;
  box-sizing: border-box;
  border: 1px solid white;
  cursor: pointer;
  color: white;
}
main .shortcuts .col:nth-of-type(4n) {
  border-color: #0ff;
}
main .shortcuts .col:nth-of-type(4n - 1) {
  border-color: #4000ff;
}
main .shortcuts .col:nth-of-type(4n - 2) {
  border-color: #f0f;
}
main .shortcuts .col:nth-of-type(4n - 3) {
  border-color: #f02;
}
main .shortcuts .col.open:nth-of-type(4n) {
  border-color: #0ff;
  background: #0ff;
}
main .shortcuts .col.open:nth-of-type(4n - 1) {
  border-color: #4000ff;
  background: #4000ff;
}
main .shortcuts .col.open:nth-of-type(4n - 2) {
  border-color: #f0f;
  background: #f0f;
}
main .shortcuts .col.open:nth-of-type(4n - 3) {
  border-color: #f02;
  background: #f02;
}
main .shortcuts .col h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--vh) * 6);
  transform: translateY(calc(-100%));
  font-size: calc(var(--vh) * 4.9);
  margin: 0;
  pointer-events: none;
  user-select: none;
}
main #curShortcut {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: #f02;
}
main #curShortcut.fadeout {
  animation: fadeout 0.4s;
}
main #curShortcut.fadein {
  animation: fadein 0.4s;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main #curShortcut a {
  margin: 30px 30px 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 17px 35px;
  border: 2px solid #f02;
}
main #curShortcut a:hover {
  background: #f02;
}
main #curShortcut a:not([href]) {
  display: none;
}
main #curShortcut a[href=""] {
  display: none;
}
main #curShortcut a img {
  width: 16px;
  height: 16px;
  background: white;
}
main #curShortcut a p {
  margin: 0;
  margin-left: 5px;
}
main .audio {
  width: 100px;
  background-image: url("./svgs/play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
main .audio:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
main .audio.on {
  background-image: url("./svgs/pause.svg");
}

.search {
  width: min(550px, 70%);
  margin-right: auto;
  margin-left: auto;
}
.search input {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  box-sizing: border-box;
  padding-left: 25px;
  font-size: 20px;
}
.search input:focus {
  outline: 0;
}

.planetCont {
  width: 75%;
  height: 75%;
  position: absolute;
  border-radius: 100%;
  border: 1px solid white;
  animation: orbit1 5s infinite linear;
}
@keyframes orbit1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.planetCont .planet1 {
  width: 100px;
  height: 100px;
  background: #f02;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  animation: orbit2 4s infinite linear;
}
@keyframes orbit2 {
  0% {
    transform: translateX(50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(50%) translateY(-50%) rotate(-360deg);
  }
}
.planetCont .planet1 .planet2 {
  width: 40px;
  height: 40px;
  background: #4000ff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(150%) translateY(-50%);
  right: 0;
}

/*# sourceMappingURL=main.css.map */
